<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223753271816-o7fg6taosk61747idj2ao2tk3ef3ubj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223753271816-o7fg6taosk61747idj2ao2tk3ef3ubj7</string>
	<key>API_KEY</key>
	<string>AIzaSyBzNNeLHT-235YZBCvcxO-KGjbuKvyMXs0</string>
	<key>GCM_SENDER_ID</key>
	<string>223753271816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.edu.lmu.plantstrackingapp</string>
	<key>PROJECT_ID</key>
	<string>plant-tracking-app</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-tracking-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223753271816:ios:d0dab6fac525d49cf1efbd</string>
</dict>
</plist>